.bag-container {
  --cart-border-radius: 5px;
  position: relative;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.bag-item-grid-template {
  grid-column: 4 / 9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bag-title > span:nth-of-type(1) {
  border-top-left-radius: var(--cart-border-radius);
}

.bag-title > span:nth-of-type(3) {
  border-top-right-radius: var(--cart-border-radius);
}

.bag-title > .column-title-header,
.cart-header,
.checkout-header,
.bag-subtotal > span {
  font-family: GucciFont, serif;
  font-weight: bold;
  display: inline-block;
}

.subtotal-title {
  border-bottom-left-radius: var(--cart-border-radius);
}

.subtotal-amount {
  border-bottom-right-radius: var(--cart-border-radius);
}

.checkout-button {
  background-color: var(--pucci-color-dark);
  color: var(--pucci-color-light);
  cursor: pointer;
  font-family: GucciFont, serif;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: var(--cart-border-radius);
}
